/Ejercicios Itla/Ejercicio 3  itla/nbproject/private/
/Ejercicios Itla/Ejercicio 3  itla/build/
/Ejercicios Itla/Ejercicio 4 itla/nbproject/private/
/Ejercicios Itla/Ejercicio 4 itla/build/
/Ejercicios Itla/Ejercicio 4 itla/dist/
/Ejercicios Itla/Sistema de Menu/nbproject/private/
/Ejercicios Itla/Sistema de Menu/build/
/Ejercicios Itla/Informacion de Empleado/nbproject/private/
/Ejercicios Itla/Sistema de Calificaciones/nbproject/private/
/Ejercicios Itla/Sistema de Descuentos/nbproject/private/
/Ejercicios Itla/Tipos de Condicionales/nbproject/private/
/Ejercicios Itla/Sistema de dias laborales/nbproject/private/
/Ejercicios Itla/Sistema de dias laborales/build/
/Ejercicios Itla/Sistema de dias laborales/dist/
/Ejercicios Itla/Switch Moderno/nbproject/private/
/Ejercicios Itla/Switch Moderno/build/
/Ejercicios Itla/Switch Moderno/dist/
/Ejercicios Itla/Tabla de multiplicar/nbproject/private/
/Ejercicios Itla/Tabla de multiplicar/build/
/Ejercicios Itla/Calculo de nomina mensual/nbproject/private/
/Ejercicios Itla/Calculo de nomina mensual/build/
/Ejercicios Itla/Calculo de nomina mensual/dist/
/Ejercicios Itla/Matriz de asientos/nbproject/private/
/Ejercicios Itla/Matriz de asientos/build/
/Ejercicios Itla/Matriz de asientos/dist/
/Ejercicios Itla/Incrementos Personalizados/nbproject/private/
/Ejercicios Itla/Incrementos Personalizados/build/
/Ejercicios Itla/Incrementos Personalizados/dist/
/Ejercicios Itla/Inventario de Productos/nbproject/private/
/Ejercicios Itla/Inventario de Productos/build/
/Ejercicios Itla/Inventario de Productos/dist/
/Ejercicios Itla/Analisis De Venta/nbproject/private/
/Ejercicios Itla/Analisis De Venta/build/
/Ejercicios Itla/Analisis De Venta/dist/
/Ejercicios Itla/Procesamiento de Empleados/nbproject/private/
/Ejercicios Itla/Procesamiento de Empleados/build/
/Ejercicios Itla/Procesamiento de Empleados/dist/
/Ejercicios Itla/Sistema de login/nbproject/private/
/Ejercicios Itla/Sistema de login/build/
/Ejercicios Itla/Sistema de login/dist/
/Ejercicios Itla/Cajero Automatico/nbproject/private/
/Ejercicios Itla/Cajero Automatico/build/
/Ejercicios Itla/Validacion de Entrada/nbproject/private/
/Ejercicios Itla/Validacion de Edad/nbproject/private/
/Ejercicios Itla/Validacion de Edad/build/
/Ejercicios Itla/Validacion de Edad/dist/
/Ejercicios Itla/Calculadora Empresarial/nbproject/private/
/Ejercicios Itla/Calculadora Empresarial/build/
/Ejercicios Itla/Calculadora Empresarial/dist/
/Ejercicios Itla/Sistema de gestion de productos/nbproject/private/
/Ejercicios Itla/Sistema de gestion de productos/build/
/Ejercicios Itla/Sistema de gestion de productos/dist/
/Ejercicios Itla/Division Segura/nbproject/private/
/Ejercicios Itla/Division Segura/build/
/Ejercicios Itla/Division Segura/dist/
/Ejercicios Itla/Validacion De/nbproject/private/
/Ejercicios Itla/Validacion de datos empresariales/nbproject/private/
/Ejercicios Itla/Validacion de datos empresariales/build/
/Ejercicios Itla/Validacion de datos empresariales/dist/
/Ejercicios Itla/Sistema de Inventario/nbproject/private/
/Ejercicios Itla/Sistema de Inventario/build/
/Ejercicios Itla/Sistema de Inventario/dist/
/Ejercicios Itla/Analisis de Temperatura/nbproject/private/
/Ejercicios Itla/Analisis de Temperatura/build/
/Ejercicios Itla/Analisis de Temperatura/dist/
/Ejercicios Itla/Sistema de calificaciones_Matriz/nbproject/private/
/Ejercicios Itla/Sistema de calificaciones_Matriz/build/
/Ejercicios Itla/Sistema de calificaciones_Matriz/dist/
/Ejercicios Itla/Operaciones con arreglos/nbproject/private/
/Ejercicios Itla/Operaciones con arreglos1/nbproject/private/
/Ejercicios Itla/OperacionesArreglos/nbproject/private/
/Ejercicios Itla/OperacionesArreglos/build/
/Ejercicios Itla/OperacionesArreglos/dist/
/Ejercicios Itla/Ejercicio1_MostrarMatriz/nbproject/private/
/Ejercicios Sintaxis basica/Ejercicio1_MostrarMatriz/nbproject/private/
/Ejercicios Sintaxis basica/Ejercicios Matrices/Ejercicio1_MostrarMatriz/build/
/Ejercicios Sintaxis basica/Ejercicios Matrices/Ejercicio1_MostrarMatriz/dist/
/Ejercicios Sintaxis basica/Ejercicio2_llenarMatriz/nbproject/private/
/Ejercicios Sintaxis basica/Ejercicio2_llenarMatriz/build/
/Ejercicios Sintaxis basica/Ejercicio3_sumarMatriz/nbproject/private/
/Ejercicios Sintaxis basica/Ejercicio3_sumarMatriz/build/
/Ejercicios Sintaxis basica/Ejercicio3_sumarMatriz/dist/
/Ejercicios Sintaxis basica/Ejercicio4_encontrarMayor_Matriz/nbproject/private/
/Ejercicios Sintaxis basica/Ejercicio4_encontrarMayor_Matriz/build/
/Ejercicios Sintaxis basica/Ejercicio4_encontrarMayor_Matriz/dist/
/Ejercicios Poo/Ejercicio1. Modelado Basico y Estado incial/nbproject/private/
/Ejercicios Poo/Ejercicio1. Modelado Basico y Estado inicial/build/
/Ejercicios Poo/Ejercicio2_IdentidadEnMemoria/nbproject/private/
/Ejercicios Poo/Ejercicio1. Modelado Basico y Estado inicial/dist/
/Ejercicios Poo/Ejercicio1. Modelado Basico y Estado inicial/nbproject/private/
/Ejercicios Poo/Ejercicio_Combinado/nbproject/private/
/Ejercicios Poo/Ejercicio2_controlDeEstado/nbproject/private/
/Ejercicios Poo/Ejercicio2_controlDeEstado/build/
/Tareas Poo/Ejercicio1_Tv/nbproject/private/
/Tareas Poo/Ejercicio1_Tv/build/
/Tareas Poo/Ejercicio1_Tv/dist/
/Tareas Poo/Ejercicio1_pruebaTV/nbproject/private/
/Tareas Poo/Ejercicio1_prueba1TV/nbproject/private/
/Tareas Poo/Ejercicio1_prueba1TV/build/
/Tareas Poo/Ejercicio1_prueba1TV/dist/
/Ejercicios Poo/Ejercicio_Combinado/build/
